<div>

    <h2>Cart</h2>

    

    <ul>
        {{#each this.userCart.cart}}
        <li>
        <p>Product:{{this.item.name}}</p>
        <p>Quantity:{{this.quantity}}</p>
        <p>Price:{{this.item.price}} €</p>

        <button>Remove</button>


        </li>
        {{/each}}
    </ul>


   <p>Total Price: ${{calculateTotalPrice this.userCart.cart}}</p>

</div>

{{!-- Imprime el contenido del carrito --}}
{{log this.userCart.cart}}

