<div>

    <h2>Cart</h2>

   
    
    <ul>
        {{#each this.userCart.cart}}
        <li>
        <p>Product:{{this.item.name}}</p>
        <p>Quantity:{{this.quantity}}</p>
        <p>Price:{{this.item.price}} €</p>
    

        </li>
        {{/each}}
    </ul>



    <p>Total Price: ${{calculateTotalPrice this.userCart.cart}}</p>

        <div>

        <form action="/user/remove-cart" method="post">
        <input type="hidden" name="userId" value="{{this.userCart._id}}" />
            <button type="submit">Remove cart</button>
        </form>

        </div>

    <a href="/user/{{this.userCart._id}}/pay">Pay</a>
    
    {{!-- <h2>Historial de Compras</h2>

    <ul>
        {{#each this.userCart.purchasedItems}}
        <li>
            <p>Product: {{this.name}}</p>
            <p>Price: {{this.price}} €</p>
        </li>
        {{/each}}
    </ul>
    
</div> --}}

{{!-- Imprime el contenido del carrito --}}
{{log this.userCart.cart}}

 


