<div class="background-profile">

  <h2 class="h2-profile">User Profile</h2>
  <div class="profile">
    <p><b> Name: </b>{{firstName}}</p>
    <p><b>Last Name: </b>{{lastName}}</p>
    <p><b>Email: </b>{{email}}</p>
    <p><b>Address: </b>{{address}}</p>
    <p><b>City: </b>{{city}}</p>
    <p><b>Postal Code: </b>{{postalCode}}</p>
    <p><b>Birthdate: </b>{{dateOfBirth}}</p>
  </div>
  <form action="/auth/logout" method="get">
    <button class="btn-logout">Logout</button>
  </form>
  <form action="/user/edit-profile" method="get">
    <button class="btn-editprofile">Edit Profile</button>
  </form>

</div>