<div>

<h2>Detalles del producto</h2>


{{!-- {{this.productDetails}}  --}}

 {{this.productDetails.name}}
<br>
{{this.productDetails.description}}
<br>
{{this.productDetails.price}}
<br>
{{this.productDetails.stock}} 
<br>


 
</form>

<form action="/user/{{this.productDetails._id}}/cart">
<button>Añadir al carrito</button>
</form>

</div>