<div class="details">

<h2 class="h2-details">Product details</h2>


<div class="item-detail">
 <p>{{this.productDetails.name}}</p>
<p>Price: {{this.productDetails.price}}€</p>

<p>{{this.productDetails.description}}</p>

<p>{{this.productDetails.stock}} units available </p>

<img src="{{this.productDetails.image}}" alt="imagen" width="300">


 
</form>

<form action="/user/{{this.productDetails._id}}/cart" method="post">
<button class="btn-add" type="submit">Add to cart</button>


</form>

  {{#if isAdmin}}
  <button class="btn-editimage">
  <a class="item-image" href="/product/{{this.productDetails._id}}/edit">Edit</a>

  </button>
  {{/if}}

</div>



</div>