<div>

<h3>Aquí queremos editar los productos ya existentes</h3>

{{!-- {{this.productDetails}} --}}
{{!-- {{this.productDetails.name}}
<br>
{{this.productDetails.description}}
<br>
{{this.productDetails.price}}
<br>
{{this.productDetails.stock}}
<br> --}}


<form action="/product/{{this.productDetails._id}}/edit" method="post">

<label for="name">Modificar nombre</label>
<input type="text" name="name" value="{{this.productDetails.name}}">
<br>
<label for="description">Modificar descripción</label>
<input type="text" name="description" value="{{this.productDetails.description}}">
<br>
<label for="price">Modificar precio</label>
<input type="number" name="price" value="{{this.productDetails.price}}">
<br>
<label for="stock">Modificar stock</label>
<input type="number" name="stock" value="{{this.productDetails.stock}}">


<button type="submit">Editar</button>
<br>

</form>

<form action="/product/{{this.productDetails._id}}/delete" method="post">
 <button type="submit">Borrar Articulo</button>
</form>

</div>