<div>

<h2>Productos disponibles</h2>
<h3>Haga click en el nombre del producto para editar.</h3>


<ul>
  {{#each this.allProducts}}
  <li>
    Producto:
   <a href="/product/{{this.id}}/edit"> {{this.name}}</a>
    -
    {{!-- {{this.description}} 
    {{this.price}} --}}
    {{this.stock}} unidades
    </li>
  {{/each}}
  </ul>

</div>